<div class="card my-3">
    <div class="card-header bg-info text-white">
        <h2>Liste des formateurs</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="tableFiliere">
                <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>Externe</th>
                        <th>Liste des matières</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let formateur of list()">
                        <td>{{formateur.Id}}</td>
                        <div *ngIf="formateur.Externe == true; else elseBlock">
                            <td><input type="checkbox" name="externe" checked> </td>
                        </div>
                        <ng-template #elseBlock>
                            <td><input type="checkbox" name="externe"> </td>
                        </ng-template>

                        <td>
                            <span
                                *ngFor="let competence of listCompetence(formateur.Id)">{{competence.Matiere?.Titre}}<br></span>
                        </td>

                        <td>
                            <div class="btn-group btn-group-sm"><button type="button" class="btn btn-primary"
                                    (click)="edit(formateur.Id)"><i class="fa fa-edit"></i></button><button
                                    type="button" class="btn btn-danger" (click)="remove(formateur.Id)"><i
                                        class="fa fa-trash"></i></button></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-success btn-lg" (click)="add()">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>

<div class="card" id="formateurForm" *ngIf="formateurForm">
    <div class="card-header bg-info text-white">
        <h3>
            Edition du formateur
        </h3>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label for="Id" class="col-md-2 col-form-label">Identifiant:</label>
            <input type="number" class="col-md-10 form-control" id="Id" readonly [(ngModel)]="formateurForm.Id">
        </div>
        <div class="form-group row">
            <label for="Externe" class="col-md-2 col-form-label">Externe :</label>
            <div class=" col-md-10">
                <input type="checkbox" class="col-md-1 ml-0 mt-3" id="Externe" [(ngModel)]="formateurForm.Externe">
            </div>
        </div>
        <!--<div>
            <label for="matiere" class="col-md-2 col-form-label">Matières :</label>
            <button [disabled]="badge(formateurForm.Id,matiere)" class="badge badge-pill badge-primary"
                *ngFor="let matiere of listMatiere()"
                (click)="ajoutSelection(formateurForm.Id,matiere)">{{matiere.Titre}}</button>
        </div>-->
        <div class="form-group row">
            <label for="matiere" class="col-md-2 col-form-label">Liste des matieres :</label>
            <select type="text" class="col-md-10 form-control" id="matiere" multiple
                (change)="selectChange(formateurForm.Id, $event)">
                <option *ngFor="let mat of listMatiere()" [selected]="select(formateurForm.Id, mat)" [value]="mat.Id">
                    {{mat.Titre}}</option>
            </select>

        </div>

        <!-- version checkbox  -->
        <div class="form-group row">
            <label for="matiere" class="col-md-2 col-form-label">Liste des matieres :</label>
            <div class=" col-md-10">
                <div *ngFor="let mat of listMatiere()">
                    <input class="col-md-1 ml-0 mt-2 pr-5" (change)="checkboxChange(formateurForm.Id, $event)"
                        type="checkbox" [checked]="select(formateurForm.Id, mat)" [value]="mat.Id" [id]="mat.Titre" />
                    <label [for]="mat.Titre" class="col-md-11 col-form-label">{{mat.Titre}}</label>
                </div>
            </div>
        </div>
        <!-- fin version checkbox -->
    </div>
    <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
            <button type="button" class="btn btn-success" (click)="save()">
                <i class="fa fa-check"></i>
            </button>
            <!-- bouton save checkbox -->
            <button type="button" class="btn btn-primary" (click)="saveC()">
                <i class="fa fa-check"></i>
            </button>
            <!-- fin bouton save checkbox -->
            <button type="button" class="btn btn-warning" (click)="cancel()">
                <i class="fa fa-undo"></i>
            </button>
        </div>
    </div>
</div>